{% extends 'base.html' %}
{% block content %}

<h1> Deal requests for my flats </h1>

<ul>
    {% for req in all_requests %}
        <li>
            <strong>{{ req.flat.title }}</strong>
            <p>{{ req.comment }}</p>
            <em>{{ req.status }}</em>

            {% if req.status == 'waiting' %}
            <form method="post">
                {% csrf_token %}
                <button>Approve</button>
            </form>
            <form method="post">
                {% csrf_token %}
                <button>Reject</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>
{% endblock %}